.markdown-body {
    font-family: 'Noto_Serif_SC', 'Lora', serif;
    line-height: 1.6;
    color: #333;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body p,
.markdown-body blockquote,
.markdown-body pre,
.markdown-body ul,
.markdown-body ol,
.markdown-body table,
.markdown-body hr {
    margin-bottom: 20px;
}

.markdown-body h1 {
    font-size: 2em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}
.markdown-body h2 {
    font-size: 1.75em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.markdown-body h3 {
    font-size: 1.5em;
}

.markdown-body blockquote {
    border-left: 4px solid #b1b1b1;
    padding-left: 15px;
    font-style: italic;
    color: #555;
    background: #f8f9fa;
    margin: 10px 0;
}

.markdown-body pre {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
.markdown-body pre code[class*="language-"] {
    @apply text-black;
}

.markdown-body code {
    background: #f4f4f4;
    color: #3979b8;
    padding: 2px 5px;
    border-radius: 3px;
    font-family: "Courier New", monospace;
}

.markdown-body ul {
    list-style-type: disc;
    padding-left: 25px;
}
.markdown-body ol {
    list-style-type: decimal;
    padding-left: 25px;
}

.markdown-body a {
    color: #3498db;
    text-decoration: none;
}
.markdown-body a:hover {
    text-decoration: underline;
}

.markdown-body table {
    border-collapse: collapse;
    margin: 20px auto;
    width: auto;
}
.markdown-body th,
.markdown-body td {
    border: 1px solid #ddd;
    padding: 8px;
}
.markdown-body th {
    background: #f4f4f4;
    font-weight: bold;
}

.markdown-body hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.markdown-body .katex-html {
    display: none; /* Hide KaTeX raw output */
}

/* ----- Dark theme ----- */

[data-theme="dark"] .markdown-body {
    color: #ccc;
}

[data-theme="dark"] .markdown-body h1 {
    border-bottom: 2px solid #444;
}
[data-theme="dark"] .markdown-body h2 {
    border-bottom: 1px solid #444;
}

[data-theme="dark"] .markdown-body blockquote {
    border-left: 4px solid #666;
    color: #aaa;
    background: #2e2e2e;
}

[data-theme="dark"] .markdown-body pre {
    background: #2e2e2e;
}
[data-theme="dark"] .markdown-body pre code[class*="language-"] {
    @apply text-white;
}

[data-theme="dark"] .markdown-body code {
    background: #2e2e2e;
    color: #9cdcfe;
}

[data-theme="dark"] .markdown-body a {
    color: #82b1ff;
}

[data-theme="dark"] .markdown-body table {
    border-color: #444;
}
[data-theme="dark"] .markdown-body th {
    background: #3e3e3e;
}

[data-theme="dark"] .markdown-body hr {
    border-top: 1px solid #444;
}
